<h1>About us</h1>
<div class="jumbotron center">
	<h1>Countdown!</h1>	
	<p>
	<img src="/assets/aj.jpg" class="center" alt="Responsive image"><br />
		<div id="countdown" data-until="2014-03-31 21:30" />
	</p>
</div>



<script class="source" type="text/javascript">
$(function() {
  window.timer = new CountDownTimer("#countdown")
})
</script>
